@import "tailwindcss";

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* Hero5 전용 애니메이션 */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}

#root {
  @apply md:px-10 lg:px-20;
}
.section {
  @apply max-w-5xl mx-auto py-20 md:py-25 px-5 md:py-10 md:rounded-2xl;
}
.section:nth-child(even) {
  @apply bg-gray-50; }

.sction-title {
  @apply text-2xl font-bold mb-6 ;
}

button {
  @apply cursor-pointer
}
